body {
    background-color: rgba(20, 17, 17, 0.874);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body div{
    color: white;
}

.titulo {
    margin: 4rem;    
    font-size: 1.5rem;
}

.itens  {
    margin: 1rem;
}

label {
    margin: 1rem 0rem 1rem 1rem;
}

#qtde {
    width: 3rem;
}

hr {
    margin: 3rem;

}

.container {
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    border: 10%;
    background-color: rgb(23, 21, 21);
    
}

.produtos {
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

footer {
    color: white;
    margin: 20rem 0rem 0rem 0rem;
}

