body {
    width: 99%;
    height: 100%;
    color: rgb(28, 23, 71);
}

.titulo {
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 20px;
    margin-left: 25%;
}

.itens {
    margin-left: 5%;
}

label {
    margin-left: 2%;
}

#qtde {
    width: 35px;
}

hr {
    margin-left: 5%;
    margin-right: 45%;
    margin-top: 3%;
}

.container {
    color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 5px 50px;
    margin-bottom: 1px;
}

.produtos {
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0px 50px;
}

