@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');


body {
    background: rgb(31, 31, 28);
    margin: 0;
}


/* Header */
header {
    color: white;
    font-family: 'Aboreto';
    text-align: center;
    margin: 5% 0% 5% 0%;
    font-size: 20px;
}

header h1 {
    border-bottom: 1px solid white;
    margin: 0% 35% 0% 35%;
}

/* Sessão */
.sessao {
    display: flex;
    margin: 5%;
    background-color: #493e54;
    text-align: center;
    border-radius: 5px;
}

.sessao div {
    margin: 8%;
    cursor: pointer;
    background-color: rgb(147, 58, 230);
    border: 1px solid rgb(115, 46, 180);
}

.sessao img {
    width: 200px;
    height: 180px;
}

.sessao h4 {
    color: rgb(235, 205, 199);
    font-size: 20px;
}

.sessao p {
    color: white;
    font-size: 16px;
    margin: 2%;
}

.sessao div:active { 
    background-color: rgb(43, 39, 46);
    border: 1px solid rgb(22, 5, 39);
}

footer {
    padding: 3%;
    background-color: rgb(92, 96, 102);
    text-align: center;
    margin-bottom: 0%;
    margin-top: 10%;
}

footer p {
    background-color: transparent;
    color: white;
}



@media (max-width: 768px) {
    /* Header */
    header h1 {
        font-size: 16px;
    }

    /* Sessão */
    .sessao {
        margin: 2%;
    }

    .sessao div {
        margin: 2%;
    }

    .sessao img {
        width: 140px;
        height: 130px;
    }

    .sessao h4 {
        font-size: 16px;
    }

    .sessao p {
        font-size: 14px;
    }
    .sessao div:active { 
    cursor: pointer;
    background-color: rgb(43, 39, 46);
    border: 1px solid rgb(22, 5, 39);
    }
}


@media (max-width: 480px) {

    /* Header */
    header h1 {
       font-size: 16px;
    }

    /* Sessão */
    .sessao {
        border-radius: 10px;
    }

    .sessao img {
        width: 100px;
        height: 90px;
    }

    .sessao h4 {
        font-size: 14px;
    }

    .sessao p {
        font-size: 12px;
    }
    .sessao div:active { 
    background-color: rgb(43, 39, 46);
    border: 1px solid rgb(22, 5, 39);
    }
}
