body {
    background-color: #c27f1b;
    text-align: center;
}

#login {
    letter-spacing: 10px;
    margin-bottom: 30px;
}

.bi-eye-fill {
    margin-left: 90%;
    margin-top: -18%;
}